[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/webkernel/ghostwriter.git

[submodule "liva-hugo"]
	path = liva-hugo
	url = https://github.com/themefisher/liva-hugo.git
[submodule "themes/liva"]
	path = themes/liva
	url = https://github.com/themefisher/liva-hugo.git
