<!-- {{ if .Site.Params.intro }}
    <header class="post-header">
        <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
        <p>{{ .Site.Params.description }}</p>
    </header>
{{ end }} -->

<header class="post-header">
	    <center><div class="headshot"><img src="/img/eu.png" alt="Paulo Pinto"></div></center> 
        <h1 class="post-title" itemprop="name">Diário de Sombras e Outras Luzes</h1>
        <p class="post-subtitle"> <a href="/tags/filosofia">Filosofia</a>, <a href="/tags/fotografia">Fotografia</a> e <a href="/tags/literatura">Literatura</a> 
        por Paulo Pinto</p>
        <p class="sec-break"/>
	</header>