{{ partial "header.html" . }}

<!-- <img src="/img/eu.png" alt="Paulo Pinto" class="center"> -->

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    <!-- {{ partial "intro.html" . }} -->

    <header class="post-header">
	    <center><div class="headshot"><img src="/img/eu.png" alt="Paulo Pinto"></div></center> 
        <h1 class="post-title" itemprop="name">Diário de Sombras e Outras Luzes</h1>
        <p class="post-subtitle"> <a href="/tags/filosofia">Filosofia</a>, <a href="/tags/fotografia">Fotografia</a> e <a href="/tags/literatura">Literatura</a> 
        por Paulo Pinto</p>
        <p class="sec-break"/>
    	<p class="intro-writeup">
	        Informático durante 25 anos, trabalho em Cultura e Comunicação desde 2012. <br></a></p><p class="intro-writeup">Saiba mais <a href="/page/about/">sobre mim</a>. Ou <a href="https://twitter.com/w3bk3rn3l">siga-me</a> no Twitter.
        </p>
	</header>

    <ol class="post-list">
        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>


   <!--  <ol class="post-list">
        {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol> -->


    <!-- <ol class="post-list">
        {{ $pag := where .Data.Pages "type" "post" }}
        {{ range (shuffle $pag | first 2) }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol> -->

    <div class="post-navigation">
    {{ partial "pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}